.ipynb_checkpoints/*
new_implementation/ipynb_checkpoints/*
.vscode/*
__pycache__/*
tree_inference/__pycache__/*
new_implementation/__pycache__/*
dendro_comparison/comparison_data/*
test.py
test_result/*
workbench.ipynb